@page

@functions {
    [BindProperty]
    public string Name { get; set; }


    public void OnPost()
    {
        if (Request.HasFormContentType)
        {
            Name = Request.Form["name"];
        }
    }
}


<div style="margin-top:30px;">
    <form method="post">
        <div>Name: <input name="name" /></div>
        <div><input type="submit" /></div>
    </form>
    @if (!string.IsNullOrEmpty(Name))
    {
        <p>Hello @Name!</p>
    }
</div>