@page
@model AspNetCore_RazorPagesSamples.Pages._003_PageModel._001_HandlerMethodsInRazorPagesModel
@{
}


<h3>@Model.Message</h3>
<form method="post">
    <button class="btn btn-default">Click to post</button> <!-- Wenn ich auf Button klicke, wird danach OnPost ausgeführt-->
</form>

<p>
    <a href="/003_PageModel/001_HandlerMethodsInRazorPages" class="btn btn-default">Click to Get</a> 
</p>
